@import "./index.scss";

.buttons__button {
  position: absolute;
  width: 38%;
  height: 28%;
  border: 10px solid transparent;
  border-radius: 100%;
  @include flex-center;
  img {
    width: 45%;
  }
  &:hover {
    width: 110px;
    height: 110px;
  }
}

.rock {
  bottom: 80px;
  background: linear-gradient(to bottom, #fff5ee, #fff5ee) padding-box,
    linear-gradient(0deg, $rock1, $rock2) border-box;
}

.paper {
  left: 12px;
  top: 70px;
  background: linear-gradient(to bottom, #fff5ee, #fff5ee) padding-box,
    linear-gradient(0deg, $paper1, $paper2) border-box;
}

.scissors {
  right: 12px;
  top: 70px;
  background: linear-gradient(to bottom, #fff5ee, #fff5ee) padding-box,
    linear-gradient(0deg, $scissor1, $scissor2) border-box;
}
