$font: "Barlow Semi Condensed", sans-serif;
$color-background1: #1f3756;
$color-background2: #141539;
$list1: $color-background1, $color-background2;
$rock1: #dc2e4e;
$rock2: #dd405d;
$paper1: #4865f4;
$paper2: #5671f5;
$scissor1: #ec9e0e;
$scissor2: #eca922;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
}

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
